/* Set up box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Custom properties will go here */
:root {
    --sidebar-button-background-color: #1992D4;
    --sidebar-button--text-color: #FFFFFF;
    --main-area-bg-color: #E2E8F0;
    --font-size: 1.5rem;
}

html {
    font-family: 'Roboto', sans-serif;
}

h2 {
    font-weight: 600;
}

img {
    height: 100%;
    width: 100%;
}

.grid-parent {
    min-height: 100vh;
    background-color: aquamarine;
    display: grid;
    grid-template-columns: minmax(250px, 0.13fr) 1fr;
    grid-template-rows: minmax(120px, 0.25fr) minmax(950px, 1fr);
    grid-template-areas: 
    "side header"
    "side main";
}

.main-content {
    grid-area: main;
    background-color: var(--main-area-bg-color);
    display: grid;
    grid-template-columns: 5fr 1.2fr;
    padding: 20px;
    gap: 20px;
}

.project-header,
.trending-section > h2,
.announcement-section > h2 {
    font-size: var(--font-size);
}

/* start on the main content next */
.projects {
    grid-row-start: 1;
    grid-row-end: 3;

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    grid-template-rows: 1.7% repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
    overflow:auto;
}


.trending-section,
.announcement-section {
    grid-column-start: 2;
    grid-column-end: -1;
    
}

.announcement {
    padding: 20px;
}

.announcement-title {
    font-weight: bold;
    margin-bottom: 10px;
}

.announcement > p {
    line-height: 1.2rem;
}

.project-header {
    grid-column-start: 1;
    grid-column-end: -1;
}

.main-aside-elements {
    padding: 20px;
    border-radius: 10px;
    background-color: var(--sidebar-button--text-color);
    box-shadow: 3px 3px rgba(0, 0, 0, 0.1);

}

.card {
    height: 200px;
    width: 420px;
    padding: 10px;
    border-radius: 10px;
    background-color: var(--sidebar-button--text-color);
    box-shadow: 3px 3px rgba(0, 0, 0, 0.1);
    display: grid;
    grid-template-rows: 0.3fr 1fr 0.5fr;
    position: relative;
}

.card::before {
    content: "";
    height: 100%;
    width: 8px;
    rotate: 90;
    background-color: orange;
    position: absolute;
}

.infor {
    line-height: 1.2rem;
}

.project-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    overflow: scroll;
}

.card-btns {
    display: flex;
    align-items: flex-end;
    justify-content: end;
}

.card-btns > * {
    margin-left: 10px;
}

.user-avatar {
    display: flex;
    align-items: center;
    margin: 10px;
}

.user-avatar > * {
    margin-left: 10px;
}

.header {
    grid-area: header;
    display: grid;
    grid-template-rows: 1fr 1fr;
    background-color: var(--sidebar-button--text-color);
}

.search-area {
    grid-row-end: 2;
}

.user-area {
    grid-row-end: -1;
}

.header > .search-area {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    font-size: var(--font-size);
}

.search-wrapper .search-bar {
    width: 70%;
    height: 3vh;
    padding: 10px;
    border-radius: 20px;
    background-color: var(--main-area-bg-color);
    border: none;
}

.search-wrapper {
    display: flex;
    align-items: center;
    margin-left: 50px;
    flex: 4;
}

.search-wrapper > input {
    margin-left: 30px;
}

.user-wrapper {
    display: flex;
    flex: 2;
    align-items: center;
    justify-content: start;
}

.user-wrapper > * {
    margin: 0 20px;
}

div.user-area {
    display: flex;
    padding: 10px;
    font-size: var(--font-size);
}

div.user-area > * {
    flex: 1;
}

div.user-area .user-wrapper-medium {
    display: flex;
    align-items: center;
}

div.user-area .user-wrapper-medium > div:first-child {
    margin-left: 60px;
}

div.user-area .user-wrapper-medium > div:nth-child(2) {
    margin-left: 15px;
}

div.user-area .user-wrapper-medium .user-detail > * {
    margin: 30px 0;
}

.user-area div.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-area div.buttons > * {
    margin: 0 25px;
}

.btn-style {
    width: 150px;
    height: 50px;
    border-radius: 25px;
    font-size: var(--font-size);
    font-weight: 600;
    color: var(--sidebar-button--text-color);
    background-color: var(--sidebar-button-background-color);
    border: none;
}

.btn-style:hover {
    background-color: darkblue;
}

.btn-style:active {
    background: gray;
}

.sidebar {
    grid-area: side;
    background-color: var(--sidebar-button-background-color);

    display: grid;
    grid-template-columns: 90px 1fr;
    grid-template-rows: minmax(150px, 0.2fr) repeat(auto-fill, minmax(50px, 0.2fr));
    align-items: center;
}

.sidebar > .icon:first-child {
    width: 75%;
}

.sidebar > .icon {
    width: 30%;
    height: auto;
    align-self: center;
    justify-self: center;
    filter: brightness(0) invert(1);
} 

.title {
    color: black;
    font-size: var(--font-size);
    font-weight: 600;
    cursor: pointer;
}

h1.title {
    color: var(--sidebar-button--text-color);
    font-size: var(--font-size);
    font-weight: 600;
    cursor: pointer;
}

h1.title:hover {
    text-decoration: underline yellow;
}

.title.dashboard {
    cursor: auto;
}

.icon.setting,
.title.setting {
    grid-row-end: -14;
}

.icon.support,
.title.support {
    grid-row-end: -13;
}

.icon.privacy,
.title.privacy {
    grid-row-end: -12;
}

.profile-pic {
    aspect-ratio: 1/1;
    width: 70px;
    border-radius: 50%;
    overflow: hidden;
}

.profile-pic-medium {
    aspect-ratio: 1/1;
    width: 100px;
    border-radius: 50%;
    overflow: hidden;
}